<!DOCTYPE html>
<html>
<head>
	<title>Admin Home Page</title>
	<!-- Include Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1 class="my-4">Welcome to the Admin Home Page</h1>
		<div class="row">
			<div class="col-md-6">
				<a href="/products" class="card bg-info text-white mb-3">
					<div class="card-header">Total Products</div>
					<div class="card-body">
						<h1 class="card-title">{{ total_products }}</h1>
					</div>
				</a>
			</div>
			<div class="col-md-6">
				<a href="/users" class="card bg-success text-white mb-3">
					<div class="card-header">Total Users</div>
					<div class="card-body">
						<h1 class="card-title">{{ total_users }}</h1>
					</div>
				</a>
			</div>
		</div>
	</div>
	<!-- Include Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
